@import "https://unpkg.com/open-props";


:root {
    --text-color: var(--gray-12);
    --text-color-dim: var(--gray-7);
    --card-bg-color: white;
    --card-bg-color-dim: var(--gray-1);
    --body-bg: none;
    --border-color: var(--gray-3);
    --link-icon-color: var(--gray-6);
    --gh-icon-color-hover: black;

}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--gray-2);
        --text-color-dim: var(--gray-3);
        --card-bg-color: var(--gray-10);
        --card-bg-color-dim: var(--gray-8);
        --body-bg: var(--gradient-8);
        --border-color: var(--gray-8);
        --link-icon-color: var(--gray-3);
        --gh-icon-color-hover: white;
    }

}

* {
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: var(--font-system-ui);
}

body {
    display: flex;
    flex-direction: column;
    background-image: var(--body-bg);
    height: 100vh;
    margin: 0;
}

main {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 var(--size-2);
    width: calc(100% - 2 * var(--size-2));
}

.main-footer {
    font-size: var(--font-size-0);
    flex: 0 1 var(--size-6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    padding: var(--size-3);
    border-top: solid 1px var(--border-color);

    & a,
    & a:visited {
        color: var(--blue-6);

        &:not(:hover) {
            text-decoration: none;
        }
    }
}



.post {
    margin-top: var(--size-8);
    background-color: var(--card-bg-color);
    border-radius: var(--radius-3);
    border: var(--border-size-1) solid var(--border-color);
    padding: var(--size-3) var(--size-4);
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    max-width: var(--size-content-2);

    & header {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        align-items: center;
        justify-content: flex-start;
        gap: var(--size-2);
        font-weight: var(--font-weight-7);
        font-size: var(--font-size-2);
        color: var(--text-color);

        & .pic {
            height: var(--size-8);
            width: var(--size-8);
            border-radius: var(--radius-round);
            border: 1px solid var(--border-color);
        }

        & .header-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & a {
                color: var(--text-color);
            }

            &>h1 {
                margin: 0;
                color: black;
                line-height: var(--font-lineheight-0);
                font-size: var(--font-size-1);
                font-weight: var(--font-weight-6);

            }

            &>h1+.at {
                display: block;
                font-size: var(--font-size-1);
                font-weight: var(--font-weight-3);
                color: var(--text-color-dim);
                line-height: var(--font-lineheight-0);
            }
        }


    }

    & .labels {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-1);

        & .label {
            background-color: var(--card-bg-color-dim);
            border-radius: var(--radius-round);
            font-size: var(--font-size-0);
            padding: var(--size-1) var(--size-2);
            color: var(--text-color-dim);
            font-weight: var(--font-weight-6);

            .icon {
                margin-right: var(--size-1);
                font-size: var(--font-size-0);
            }
        }
    }

    & p {
        font-size: var(--font-size-2);
        color: var(--text-color);
        line-height: var(--font-lineheight-2);
        margin: 0;
        white-space: pre-line;
    }




    & hr {
        background-color: var(--border-color);
        height: 1px;
        width: 100%;
        border: 0;
    }

    & .links {
        display: flex;
        justify-content: stretch;

        &>.link {
            flex: 1 0 25%;
            justify-content: flex-start;
            display: flex;


            &>a,
            &>button {
                border-radius: var(--radius-round);
                padding: var(--size-1) var(--size-1);
                display: flex;
                flex: 0 0 calc(50% - 2 * var(--size-1));
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:link,
                &:visited,
                &:hover,
                &:active {
                    text-decoration: none;
                }

                &:hover,
                &:active,
                &:focus {
                    background-color: var(--card-bg-color-dim);
                }

                & svg {
                    transition: fill 400ms ease-out;
                    fill: var(--link-icon-color);
                    width: 24px;
                    height: 24px;
                }

                &#bsky:hover {
                    & svg {
                        fill: rgb(0, 133, 255);
                    }
                }

                &#mstdn:hover {
                    & svg {
                        fill: rgb(99 100 255)
                    }
                }

                &#gh:hover {
                    & svg {
                        fill: var(--gh-icon-color-hover);
                    }
                }




            }

            &.more-link {
                position: relative;
            }

        }
    }

    & #more-options {
        display: none;
        background-color: var(--card-bg-color);
        box-shadow: var(--shadow-2);
        border: 1px solid var(--border-color);
        border-radius: var(--radius-2);
        width: var(--size-12);

        &.open {
            display: flex;
            position: absolute;
            top: var(--size-8);
            left: 25%;
            transform: translateX(-50%);
        }

        & .dropdown-content {
            list-style-type: none;
            margin: 0;
            padding: 0 var(--size-1);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
        }

        & .dd-option {
            display: flex;
            padding: var(--size-1) 0;


            & a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--text-color-dim);
                font-weight: var(--font-weight-6);
                font-size: var(--font-size-1);
                width: 100%;
                padding: var(--size-1) var(--size-4);

                &:hover {
                    background-color: var(--card-bg-color-dim);
                    border-radius: var(--radius-2);
                }

                & #sad-emoji,
                & #happy-emoji {
                    font-size: var(--font-size-4);
                    filter: grayscale(100%);
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--border-color);
            }

        }
    }

    & a:link,
    & a:visited,
    & a:hover,
    & a:active {
        text-decoration: none;
    }
}

@media (width >=480px) {
    main {
        justify-content: center;
    }

    .post {
        margin-top: 0;
    }

    .main-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }



}